
  
<div class="card"><br>
     <h3>{{postagem.titulo}}</h3>
    <div class="card-body mt-4" style="color: #854d77;">
        <hr>
        <small>Data de pulplicação: {{postagem.data}}</small>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>